:root {
    --width: min(100vw, calc(100vh * 320 / 180));
    --height: auto;
}

body {
    margin: 0;
    background: black;
}

canvas {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: calc(var(--width) / -2);
    width: var(--width);
    height: var(--height);
    z-index: -1;
    image-rendering: pixelated;
}

.play {
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
}

#file {
    color: white;
}