:root {
    --width: min(100vw, calc(100vh * 480 / 270));
    --height: auto;
}

body {
    margin: 0;
    background: black;
}

canvas {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: calc(var(--width) / -2);
    width: var(--width);
    height: var(--height);
    z-index: -1;
    image-rendering: pixelated;
}

#index > button, .play > button {
    cursor: pointer;
}

#file {
    color: white;
}

#settings {
    position: fixed;
    bottom: 1em;
    left: 50vw;
    transform: translateX(-50%);
}

.win {
    background: #2e805e;
    background-clip: padding-box;
    border: 48px solid transparent;
    border-image: url("/menus/border.png") calc(100% / 6) round;
    image-rendering: pixelated;

    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.win, .win a {
    color: white;
    text-align: center;
    font-family: monospace;
}