:root {
    --width: min(100vw, calc(100vh * 480 / 270));
    --height: auto;
    --bg: #37946e;
}

body {
    margin: 0;
    background: black;
}

* {
    scrollbar-width: thin;
    scrollbar-color: white var(--bg);
}

canvas {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: calc(var(--width) / -2);
    width: var(--width);
    height: var(--height);
    z-index: -1;
    image-rendering: pixelated;
}

#index > button, .play > button {
    cursor: pointer;
}

#index {
    max-height: 55%;
    overflow-y: scroll;
}

#winHowto {
    overflow-y: scroll;
}

#file {
    color: white;
}

.win {
    background: var(--bg);
    background-clip: padding-box;
    border: 48px solid transparent;
    border-image: url("/menus/border.png") calc(100% / 6) round;
    image-rendering: pixelated;

    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.win, .win a, button {
    color: white;
    text-align: center;
    font-family: monospace;
}

.indexlvl {
    background: rgb(0, 97, 48);
    color: white;
    padding: 1em;
    border: 3px solid white;
    font-size: small;
}
.indexlvl.active {
    background: rgb(0, 97, 73);
}

#ratings > div > img {
    image-rendering: pixelated;
    width: 128px;
    height: 32px;
}
#ratings > div > span {
    font-size: xx-large;
    min-width: 5em;
}
#ratings > div {
    display: flex;
    flex-direction: row;
    margin: .25em;
    justify-content: center;
}
#results {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60%;
}
#ratings, #rank {
    width: 50%;
}
#rank > div {
    font-size: x-large;
}

#winResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#winResults > button {
    width: fit-content;
}

#rankImg {
    width: 112px;
    height: 112px;
}

button {
    background: #37946e;
    border: 2px solid black;
    margin: .5em;
    padding: .5em;
    font-size: larger;
    cursor: pointer;
}

#winSettings {
    font-size: x-large;
}

.logo {
    width: 192px;
    margin-top: 8px;
    filter: drop-shadow(0 0 8px #0006);
}

#mobile {
    display: none;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: red;
    color: white;
    border: 2px solid white;
    z-index: 9999;
    padding: .5em;
    font-size: x-large;
}

@media only screen and (max-width: 600px) {
    #mobile {
        display: block !important;
    }
}